[Desktop Entry]
Encoding=UTF-8
Name=Inkling Online Mode
GenericName=Wacom Inkling Reader
Comment=Inkling Online Mode.
Type=Application
Exec=sudo inklingreader -j
Icon=InklingReader
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true

